@font-face {
    font-family: "neuropolitical";
    src: url('fonts/neuropolitical\ rg.otf')
}
@font-face {
    font-family: "good-times";
    src: url('fonts/good\ times\ rg.otf')
}
h2 {
    font-family: "neuropolitical";
    text-align: end;
    margin-right: 10%;
}
html, body {

}
body {
    background-color:#0e0b16;
}

.content {
    width: auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 2%;
   
    background-color: #e7dfdd;
}
#header {
    display:flex;
    justify-content: center;
}
#info h2 {
    text-align:center;
    font-family: "good-times";
    font-size: .6em;
}
#header h1 {
    font-size: 1.2em;
}
#welcome-image h2 {
    font-family: "good-times";
    font-size: .6em;
}
#welcome-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
#welcome-image-container img {
    width: 80%;
}
#about-show h2 {
    font-family: "good-times";
    font-size: .6em;    
}
