@font-face {
    font-family: "oxanium";
    src: url('fonts/Oxanium-Regular.ttf')
}
@font-face {
    font-family: "good-times";
    src: url('fonts/good\ times\ rg.otf')
}
#preloader 
{ 
    position: fixed; 
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba(0,0,0,.3) /*url('URL TO AN ANIMATED LOADING GIF') no-repeat center center; */
}
h2 {
    font-family: "neuropolitical";
    text-align: end;
    margin-right: 10%;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color:#0e0b16;
    background-image: url("images/background2.png");
    background-repeat: no-repeat;
    background-size: 100vw 100%;
}
p {
    color: white;
    text-shadow: 1px .5px 1px #000000;
    font-family: oxanium, sans-serif;

}
.text-container {
    background-color: rgba(0,0,0,.2);
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 15px;
}
.content {
    width: auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 2%;
    margin: 0;
    
   
    /*background-color: #e7dfdd;*/
}
#header {
    display:flex;
    justify-content: center;
}
.sub-header {
    color: white;
    text-shadow: 1.5px 1.5px 1px #FF0000;
    font-family: "good-times";
    font-size: .85em;

}
#header h1 {
    text-align: center;
    font-size: 1.2em;
    font-family: "good-times";
    color: white;
    text-shadow: 1.5px 1.5px 3px #FF0000;
}
#welcome-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
#welcome-image-container img {
    width: 100%;
}
